<p id="notice"><%= notice %></p>

<div class="jumbotron main-jumbo">
	<h1 class="center">Schedules</h1>
	<h2 class="center">March 22, 2015</h2>
</div>

<!-- ********************************* U8 ************************************************************* -->
<div class="jumbotron division-groups">
<h3>U8</h3>
<div class="table-responsive">
	<table class="table table-bordered">
	<thead>
		<tr>
			<th>Game Time</th>
			<th>Home Team</th>
			<th>Away Team</th>
		</tr>
	</thead>

  	<tbody>
		<% @schedules.each do |schedule| %>
			<% if schedule.division_type == 'U8' %>
				<tr>
					<td><%= schedule.gametime %></td>
					<td><%= schedule.hteam %></td>
					<td><%= schedule.ateam %></td>
					<% if schedule.user == current_user %>
						<td><%= link_to 'Show', schedule, class:"btn btn-success btn-xs" %> 
						<%= link_to 'Edit', edit_schedule_path(schedule), class:"btn btn-warning btn-xs" %> 
						<%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn 	btn-danger btn-xs" %></td>
					<% else %>
					
					<% end %>
				</tr>
			<% end %>
		<% end %>
  	</tbody>
	</table>
</div>
</div>

<!-- ********************************* U11 ************************************************************* -->
<div class="jumbotron division-groups">
<h3>U11</h3>
<div class="table-responsive">
	<table class="table table-striped  table-bordered">
	<thead>
		<tr>
			<th>Game Time</th>
			<th>Home Team</th>
			<th>Away Team</th>
		</tr>
	</thead>

  	<tbody>
		<% @schedules.each do |schedule| %>
			<% if schedule.division_type == 'U11' %>
				<tr>
					<td><%= schedule.gametime %></td>
					<td><%= schedule.hteam %></td>
					<td><%= schedule.ateam %></td>
					<% if schedule.user == current_user %>
						<td><%= link_to 'Show', schedule, class:"btn btn-success btn-xs" %> 
						<%= link_to 'Edit', edit_schedule_path(schedule), class:"btn btn-warning btn-xs" %> 
						<%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn 	btn-danger btn-xs" %></td>
					<% else %>
					
					<% end %>
				</tr>
			<% end %>
		<% end %>
  	</tbody>
	</table>
</div>
</div>

<!-- ********************************* U13 ************************************************************* -->
<div class="jumbotron division-groups">
<h3>U13</h3>
<div class="table-responsive">
	<table class="table table-striped  table-bordered">
	<thead>
		<tr>
			<th>Game Time</th>
			<th>Home Team</th>
			<th>Away Team</th>
		</tr>
	</thead>

  	<tbody>
		<% @schedules.each do |schedule| %>
			<% if schedule.division_type == 'U13' %>
				<tr>
					<td><%= schedule.gametime %></td>
					<td><%= schedule.hteam %></td>
					<td><%= schedule.ateam %></td>
					<% if schedule.user == current_user %>
						<td><%= link_to 'Show', schedule, class:"btn btn-success btn-xs" %> 
						<%= link_to 'Edit', edit_schedule_path(schedule), class:"btn btn-warning btn-xs" %> 
						<%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn 	btn-danger btn-xs" %></td>
					<% else %>
					
					<% end %>
				</tr>
			<% end %>
		<% end %>
  	</tbody>
	</table>
</div>
</div>

<br>

<% if user_signed_in? %>
<%= link_to 'New Schedule', new_schedule_path, class:"btn btn-primary" %>
<% else %>

<% end %>
