<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61080402-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="jumbotron main-jumbo">
	<h1 class="center">Schedule &amp; Results</h1>
	<h2 class="center date-color"><em>March 22, 2015</em></h2>
</div>

<!-- ********************************* U8 ************************************************************* -->
<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="center division-heading"><strong><em>Girls U11</em></strong></h3>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Time</th>
						<th>Home</th>
						<th>Away</th>
					</tr>
				</thead>

  				<tbody>
					<% @schedules.each do |schedule| %>
						<% if schedule.division_type == 'GU11' %>
							<tr>
								<td><%= schedule.gametime %></td>
								<td><%= schedule.hteam %></td>
								<td><%= schedule.ateam %></td>
								<% if schedule.user == current_user %>
									<td><%= link_to 'Show', schedule, class:"btn btn-success btn-xs" %> 
									<%= link_to 'Edit', edit_schedule_path(schedule), class:"btn btn-warning btn-xs" %> 
									<%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn 	btn-danger btn-xs" %></td>
								<% else %>

								<% end %>
							</tr>
						<% end %>
					<% end %>
  				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- ********************************* U11 ************************************************************* -->
<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="center division-heading"><strong><em>Boys U11</em></strong></h3>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Time</th>
						<th>Home</th>
						<th>Away</th>
					</tr>
				</thead>

				<tbody>
					<% @schedules.each do |schedule| %>
						<% if schedule.division_type == 'BU11' %>
							<tr>
								<td><%= schedule.gametime %></td>
								<td><%= schedule.hteam %></td>
								<td><%= schedule.ateam %></td>
								<% if schedule.user == current_user %>
									<td><%= link_to 'Show', schedule, class:"btn btn-success btn-xs" %> 
									<%= link_to 'Edit', edit_schedule_path(schedule), class:"btn btn-warning btn-xs" %> 
									<%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn 	btn-danger btn-xs" %></td>
								<% else %>

								<% end %>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- ********************************* U13 ************************************************************* -->
<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="center division-heading"><strong><em>Boys U12</em></strong></h3>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Time</th>
						<th>Home</th>
						<th>Away</th>
					</tr>
				</thead>

				<tbody>
					<% @schedules.each do |schedule| %>
						<% if schedule.division_type == 'BU12' %>
							<tr>
								<td><%= schedule.gametime %></td>
								<td><%= schedule.hteam %></td>
								<td><%= schedule.ateam %></td>
								<% if schedule.user == current_user %>
									<td><%= link_to 'Show', schedule, class:"btn btn-success btn-xs" %> 
									<%= link_to 'Edit', edit_schedule_path(schedule), class:"btn btn-warning btn-xs" %> 
									<%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn 	btn-danger btn-xs" %></td>
								<% else %>

								<% end %>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<br>

<% if user_signed_in? %>
<%= link_to 'New Schedule', new_schedule_path, class:"btn btn-primary" %>
<% else %>

<% end %>
