<p id="notice"><%= notice %></p>

<p>
  <strong>Game Time:</strong>
  <%= @schedule.gametime %>
</p>

<p>
  <strong>Home Team:</strong>
  <%= @schedule.hteam %>
</p>

<p>
  <strong>Away Team:</strong>
  <%= @schedule.ateam %>
</p>

<p>
  <strong>Division:</strong>
  <%= @schedule.division_type %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
